body {
	/*background:#088A68;*/
	/*background: url('img/bg.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	background-position: center center;

	background: url('img/bg.jpg') no-repeat fixed center center;
	background-size: 500px;*/
}
.fondo{
	width: 600px;
	height: 600px;
	background-attachment: fixed;
	background: url('img/terrazo.png') #000 ;
	background-repeat: repeat;
	
}