.contenedor{
    width: 100%;
    height: 700px;
    display: block;
    margin: auto;
    background-image:
        url(/3.efect-background-css/hack33_multiBackground/img/amarillo.png),
        url(/3.efect-background-css/hack33_multiBackground/img/azul.png),
        url(/3.efect-background-css/hack33_multiBackground/img/lineas.png),

        linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


    background-size: contain;
    background-repeat: no-repeat;
}

