* {
	padding: 0;
	margin: 0;
}
body{
	background-color: #f2f2f2;
}

.caja{
	width: 200px;
	height: 200px;
	background-color: #0e6ba8;
	margin: 20px;

}

.relativa{
	background-color: #6695e8;
	position: relative;
	top:50px;
	right: ;
	left:200px ;
	bottom: ;

}

.absoluta{
	position: absolute;
	top:100px ;
	right: ;
	left: 200px;
	bottom: ;

}
.fijada{
	position: fixed;
	background-color: red;
}

.padre{
	margin: 20px;
	background-color: #2e294e;
	width: 500px;
	height: 500px;
	position: relative;
}
/* Tipos de Posicionamiento:
- Normal (static): Posicionamiento por defecto con el que los navegadores acomodan los elementos
- Relativo (relative): Nos permite posicionar una caja y después moverla.
- Absoluto (absolute): Nos permite posicionar una caja respecto a su contenedor y el resto
                       de elementos ignoaran la nueva posición
- Fijo (fixed): Nos permite posicionar una caja en donde su posición respecto a la pantalla del usuario siempre va a ser la misma
- Flotante (float): Nos permite desplazar las cajas todo lo posible hacia la derecha o izquierda*/
