body{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    border: 0;
}

h1{
    text-align: center;
}

p{
    font-size: 1.1rem;
    padding: 0;
    line-height: 30px;
    margin: auto;
}

div{
    background-image: 
        linear-gradient(90deg, #eb4504 8%, transparent 5px, transparent 5px, transparent 5px ),
        linear-gradient(#1a1919c5 5%, transparent 0px);
        background-size: 100% 30px;
        padding: 0 120px 0;
        margin: auto;
    }
